body{
   background-color: #ffffff;
   font-family: 'Assistant', sans-serif;
   color: #0D1F5D;
}


// Navbar
.navbar-brand{
   img{
      max-height: 40px;
   }
}

.navbar-light{
   .navbar-nav{
      .nav-link{
         color: #0D1F5D;

         &.active{
            font-weight: bold;
         color: #0D1F5D !important;
         }
      }
   }
}

.btn-navbar-right{
   margin-top: -10px !important;
   margin-bottom: -8px !important;
   margin-right: -18px !important;

   height: 70px;
   border-radius: 0;
}

.btn-login{
   background-color: #0D1F5D;
   color: #fff;

   &:hover{
      background-color: #3B56B3;
      color: #fff;
   }
}

// Header
header{
   margin-top: -70px !important;
   padding: 180px 0 165px;
   background-image: url('../images/home1.jpg');
   background-size: cover;


   h1,p{
      color: #fff;
   }

   h1{
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 50px;
      }

   p{
      font-size: 22px;
   }

   .btn-get-started{
      background-color: #FF6F00;
      color: #fff;

      &:hover{
         background-color: #FF913D;
      }
   }
}

// Statistics
.section-stats{
   margin-top: -50px;

   .stats-detail{
      padding-top: 15px;
      background-color: #fff;
      padding-left: 40px;
   }

   h2{
      font-size: 30px;
      margin-bottom: 0;
   }

   p{
      font-size: 20px;
      font-weight: lighter;
   }

}

// Popular
.section-popular{
   min-height: 540px;
   background-color: #0D1F5D;
   margin-top: -50px;
   margin-bottom: -230px;

   .section-popular-heading{
      margin-top: 150px;

      h2,p{
         color: #fff;
      }
      h2{
         font-family: 'Playfair Display', serif;
         font-weight: bold;
         font-size: 40px;
      }
      p{
         font-size: 18px;
      }
   }
}
.section-popular-content{
   .section-popular-travel{
      .card-travel{
         min-height: 380px;
         background-color: #ddd;
         color: #fff;
         padding: 30px;
         background-size: cover;
         margin-bottom: 20px;
      }

      .travel-country{
         font-size: 18px;
         color: #fff;
      }
      .travel-location{
         font-size: 26px;
         color: #fff;
      }
      .travel-button{
         .btn-travel-details{
            background-color: #FF6F00;
            color: #fff;

            &:hover{
               background-color: #FF913D;
               color: #fff;
            }
         }
      }
   }
}

.section-networks{
   background-color: #fff;
   margin-top: -170px;
   padding-top: 240px;
   padding-bottom: 50px;

   h2{
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 40px;
   }
   p{
      font-size: 18px;
   }
   img{
      max-width: 100%;
   }
}

.section-testimonial-heading{
   background: linear-gradient(#fff 0%, #e4e6eb 100%);
   padding-top: 50px;
   min-height: 506px;

   h2{
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 40px;

   }
   p{
      font-size: 18px;
   }

}

.section-testimonial-content{
   margin-top: -300px;
   padding-bottom: 50px;

   .card-testimonial{
      padding: 40px 20px 10px;
      border-radius: 11px;
      margin-bottom: 20px;

      .testimonial-content{
         min-height: 380px;
         img{
            width:120px;
         }
      }

      h3{
         font-size: 22px;
      }

      .testimonial{
         font-weight: 200;
         font-size: 25px;
         color: #6e6e6e;
         min-height: 160px;
      }

      .trip-to{
         font-weight: normal;
         font-size: 22px;
         color: #6e6e6e;
      }
      hr{
         margin-left: -20px;
         margin-right: -20px;
      }
   }

   .btn-get-started{
      background-color: #FF6F00;
      color: #fff;

      &:hover{
         background-color: #FF913D;
      }
   }

   .btn-need-help{
      background-color: #e2e2e2;
      color: #717171;

      &:hover{
         background-color: #ffffff;

      }
   }
}

.section-footer{
   a{
      color: #0D1F5D;
   }
}

.section-details-header{
   min-height: 310px;   
   background: #e4e6eb;
   margin-top: -70px;
}

.section-details-content{
   margin-top: -210px;
   min-height: 100vh;

   .breadcrumb{
      background-color: transparent;
      padding: 0;
      margin-bottom: 30px;
   }

   .breadcrumb-item{
      &.active{
         font-weight: bold;
         color: #0D1F5D;

      }
   }

   .card-details{
      padding: 30px;
      border-radius: 11px;

      h1{
         font-size: 26px;
      }

      h2{
         font-size: 20px;
      }
      
      p{
         font-size: 18px;
         color: #b1b1b1;
      }
      h3{
         font-weight: 400;
         font-size: 14px;
         color: #0D1F5D;
      }

      .ava-checkout{
         border-radius: 40px;
      }
      
      .trip-information{
         th{
            font-weight: 300;
            font-size: 18px;
            color: #0D1F5D;
         }
         td{
            font-weight: 300;
            font-size: 18px;
            color: #b1b1b1;
         }
         .text-blue{
            color: #0D1F5D;
            font-weight: bold;
         }
         .text-orange{
            color: #FF6F00;
            font-weight: bold;
         }
      }

      .payment-instructions{
         font-weight: 300;
         font-size: 14px;
         color: #b1b1b1;
      }
   
      .bank{
         .bank-item{
            h3{
               font-size: 18px;
               color: #0D1F5D;
               margin-bottom: 0;
            }
            p{
               margin-bottom: 0;
            }
            .description{
               margin-left: 10px;
               overflow: hidden;
               float: left;

               p{
                  font-weight: normal;
                  font-size: 16px;
                  color: #0D1F5D;
               }

            }
         }

         .bank-image{
            height: 34px;
            float: left;
         }
      }

      .features{
         margin-top: 20px;

         h3{
            font-size: 18px;
            color: #017cd4;
            margin-bottom: 0;
         }

         p{
            margin-bottom: 0;
         }

         .description{
            margin-left: 10px;
            overflow: hidden;
            float: left;
         }

         .features-image{
            width: 45px;
            height: 45px;
            float: left;
         }
      }
   }

   .gallery{
      .xzoom-container{
         display: block;
         
         .xzoom{
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
         }

         .xactive{
            border: 4px solid #1abc9c;
            box-shadow: none;
         }
      }
   }

   .members{
      .member-image{
         width: 40px;
         height: 40px;
         border-radius: 20px;
      }

      .gj-datepicker{
         .datepicker{
            border-right: 0;
         }

         .input-group-append{
            .btn{
               padding-right: 30px;
            }
         }
      }

      .btn-add-now{
         background-color: #0D1F5D;
         color: #fff;
      
         &:hover{
            background-color: #3B56B3;
            color: #fff;
         }
      }

      .disclaimer{
         font-weight: 300;
         font-size: 14px;
         color: #b1b1b1;
      }


   }

   .card-right{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0;
   }

   .join-container{
      margin-top: -16px;
   }

   .btn-join-now{
      background-color: #FF6F00;
      color: #fff;
      border-radius: 0;

      &:hover{
         background-color: #FF913D;
         color: #fff;

      }
   }
}

.section-success{
   height: 90vh;

   h1{
      font-weight: 600;
      font-size: 26px;
      color: #0D1F5D;
   }

   p{
      font-weight: 300;
      font-size: 18px;
      color: #b1b1b1;
   }
   
   .btn-home-page{
      border-radius: 4px;
      background-color: #0D1F5D;
      color: #fff;

      &:hover{
         background-color: #3B56B3;
         color: #fff;
      }
   }
}